.App {
  text-align: center;
  background-color: whitesmoke;
}
.main-page {
  display: flex;
  flex-direction: row;
}

.article-router {
  margin: 1em 1em 1em 3em;
  width: 70%;
}

.articles-list {
  font-size: 0.5em;
}

.article-list-item {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.top-articles {
  border: 1px solid black;
  margin-top: 2em;
  font-size: 0.5em;
  height: 50%;
  width: 30%;
}

.article-container {
  margin: 1em 1em 1em 3em;
  width: 70%;
  font-size: 0.8em;
}

.comments-container {
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}
