.App {
  text-align: center;
}
body {
  background-color: #f0f0c9;
}

button:focus {
  outline: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

nav {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo {
  border: none;
  background: none;
  border-radius: 10px;
  font-size: 3em;
  padding: 0;
}

.user-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 3em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  font-size: 3em;
  padding: 0;
  background: none;
  border: none;
}

.menu-container {
  right: 0;
}

.drop-down-content {
  right: 0;
  font-size: 2em;
}
@media screen and (max-width: 500px) {
  .drop-down-content {
    right: 0;
    font-size: 1em;
  }
}

.topic-button {
  border: none;
  background: none;
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.1em;
}

.topic-button:hover {
  background: rgb(224, 221, 221);
  border-radius: 4px;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0f0c9;
}

.article-router {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em 1em 1em;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .article-router {
    width: 100%;
    background-color: #f0f0c9;
  }
}

.articles-list {
  font-size: 1em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .articles-list {
    font-size: 0.7em;
  }
}

.article-list-item {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #a1cdf1;
}

@media screen and (min-width: 500px) {
  .article-list-item {
    width: 80%;
    font-size: 1.5em;
  }
}

.sort-button {
  font-size: 2em;
  margin: 0.2em;
  border-radius: 4px;
  background-color: #bbd1e2;
}

@media screen and (max-width: 500px) {
  .sort-button {
    font-size: 1em;
  }
}

.post-article-button {
  background-color: #548c8f;
  margin: 1em 1em 2em 1em;
  border-radius: 8px;
  padding: 0.5em;
  font-size: 2em;
}
.post-article-button:focus {
  outline: none;
}

@media screen and (min-width: 500px) {
  .article-list-item {
    width: 85%;
    font-size: 1.5em;
  }
}

.top-articles {
  margin-right: 3em;
  height: 80%;
  width: 30%;
  padding: 2em;
  margin-bottom: auto;
  border-radius: 8px;
  font-size: 1.8em;
}

.top-articles h2 {
  text-decoration: underline;
}

.top-articles h3 {
}

.top-article-item {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0.5em;
  background-color: #a1cdf1;
}

@media screen and (max-width: 500px) {
  .top-articles {
    display: none;
  }
}

.articles-list h1 {
  text-transform: capitalize;
  font-size: 2.5em;
}

.article-title-link {
  text-decoration: none;
  outline: none;
  color: black;
}

.article-title-link:hover {
  text-decoration: underline;
  color: black;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.votes button {
  background: none;
  border: none;
  font-size: 2.5em;
}

.votes p {
  margin: 1em;
}

.article-date {
  text-align: left;
  font-style: italic;
  text-decoration: underline;
}

.article-container {
  margin: 1em 1em 1em 1em;
  width: 89%;
  font-size: 0.8em;
}

.comments-container {
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.new-comment-form {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  background: #548c8f;
  border-radius: 10px;
  padding: 1em;
}
.new-comment-form label {
  text-align: left;
  font-style: italic;
  font-size: 0.6rem;
}

.new-comment-form button {
  margin: 1em 0em;
  border-radius: 4px;
  border: 1px solid black;
}
.new-comment-form button:hover {
  margin: 1em;
  border-radius: 4px;
  background: whitesmoke;
}

.comment-input {
  height: 3rem;
  resize: none;
}
.comment-input:focus {
  outline: none;
}

.comments-container {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #a1cdf1;
}

.comment-date {
  font-style: italic;
}

.delete-button {
  background: none;
  border: none;
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.avatar-container {
  height: 10em;
  width: 10em;
  border-radius: 50%;
}

.avatar-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

@media screen and (min-width: 600px) {
  .username-container {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    padding-left: 2em;
  }
}

.user-details-container {
  width: 100%;
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px dotted black;
}

.username-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.username {
  font-style: italic;
}

.user-article-list-item {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1e;
  margin-bottom: 1em;
  background-color: #a1cdf1;
  font-size: 1.3em;
  width: 90%;
}

.new-article-section {
  font-size: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .new-article-section {
    font-size: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.new-article-form {
  background-color: #548c8f;
  display: flex;
  flex-direction: column;
  font-style: italic;
  border-radius: 6px;
  padding: 2em;
  width: 80%;
}

@media screen and (max-width: 500px) {
  .new-article-form {
    background-color: #548c8f;
    display: flex;
    flex-direction: column;
    font-style: italic;
    border-radius: 4px;
    width: 90%;
    font-size: 0.8em;
  }
}

.new-article-form button {
  background: none;
  margin: 0.5em 0em;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  font-size: 1.5em;
}

.new-article-form:focus {
  outline: none;
}

.new-article-form button:hover {
  border-radius: 4px;
  background: whitesmoke;
}

.article-form-input {
  margin-bottom: 1em;
  font-size: 1em;
}

@media screen and (max-width: 500px) {
  .article-form-input {
    font-size: 1em;
  }
}

.article-form-input:focus {
  outline: none;
}

.after-delete-return-button {
  background-color: #548c8f;
  border-radius: 8px;
  padding: 1em;
}

.loading {
  background-color: #f0f0c9;
}

.after-error-return-button {
  background-color: #bbd1e2;
  border-radius: 8px;
  padding: 1em;
}
